{% extends 'base.html' %}

{% block title %}Signup TAB{% endblock %}
{% block body %}
<div class="container">

<form method="post">
{% csrf_token %}



<div class="container" id="login-container">

<h1>Signup</h1>
</br>
 <div id="text-box">
  
    <i class="fas fa-user"></i>
    <input type="text" class="login-username" name="username" placeholder="Username">
    
  </div>
  <div  id="text-box">
    <i class="fas fa-lock"></i>
    <input type="password" class="login-password" name="password1" placeholder="Password">
  </div>
<div>
<div  id="text-box">
    <i class="fas fa-lock"></i>
    <input type="password" class="login-password" name="password2" placeholder="Confirm Password">
  </div>
<div>

<input type="submit" class="btn btn-success" id="login-btn" value="Signup">
</div>







</div>
</form>

</form>
</div>
{% endblock %}
